.google-play-badge {
  display: flex;
  justify-content: center;
}

.google-play-badge img {
  max-width: 20em;
}

.screenshots-container {
  float: right;
  display: flex;
  justify-content: center;
}

.screenshots-container-mobile {
  display: flex;
  justify-content: center;
  width: 90vw;
}

.thumbnail {
  padding: 0.5em;
  width: 240px;
}

.thumbnail-mobile {
  padding: 0.5em;
  width: 120px;
}
